{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataUser/User/Profile/action.html.twig' %}

{% block sonata_profile_content %}
    {{ form_errors(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'title_user_edit_password'|trans({}, 'SonataUserBundle') }}</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'action': path('sonata_user_profile_edit_password')  }) }}
            {{ form_widget(form) }}

            <div class="form-actions form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-danger">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock sonata_profile_content %}
